{
	"name":"capvcd-manifest-airgapped",
	"version":"__VERSION__",
	"components": {
		"manifests":[
			{
				"name": "infrastructure-components.yaml",
				"url": ""
			},{
				"name": "metadata.yaml",
				"url": ""
			}
		],
		"binaries": [],
		"dependencies": [
			{
				"name":"cluster-api-provider-cloud-director",
				"version":"__VERSION__",
				"imageRepository":"__REGISTRY__"
			}
		]
	}
}
